.annotation-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.annotation-transform-component {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
